# Load Ingredients

In [18]:
# Load Ingredients
import pandas as pd
# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username
df = pd.read_csv("./DataSets/ingredientList.csv")
df

                                 Name
0           firmly packed brown sugar
1                 butter or margarine
2    bite size shredded rice biscuits
3                         frozen corn
4                        cream cheese
..                                ...
496              sliced yellow squash
497                      stuffing mix
498                    ice cold water
499                         sour milk
500                    cooking apples

[501 rows x 1 columns]

In [19]:
import pymssql
cursor.close()
cnxn.close()

In [20]:
# Some other texample server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port

#cnxn = pymssql.connect(server='localhost', user='sa', password='bigStrongPwd1107@', database='CIS560Project')
cnxn = pymssql.connect(server='cis560team3.database.windows.net', user='SQLMan', password='BigB@dRecipeB00k', database='CIS560Project')
cursor = cnxn.cursor(as_dict=True)
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO Data.Ingredient (Name) values(%s)", row.Name)
cnxn.commit()
cursor.close()

# Load Recipes

In [21]:
df = pd.read_csv('./DataSets/RecipeImport.csv')
df = df.dropna()
df

,title,directions,PrepTime,Difficulty
0,No-Bake Nut Cookies,"In a heavy 2-quart saucepan, mix brown sugar, ...",25,4
1,Jewell Ball'S Chicken,Place chipped beef on bottom of baking dish.\n...,120,4
2,Creamy Corn,"In a slow cooker, combine all ingredients. Cov...",30,4
3,Chicken Funny,Boil and debone chicken.\n Put bite size piece...,25,2
4,Reeses Cups(Candy),Combine first four ingredients and press in 13...,30,3
...,...,...,...,...
245,Marinated Carrots,Wash and scrape carrots. Cut in diagonal slice...,30,1
246,Blueberry Cake,Beat egg whites until stiff; add 1 cup sugar.\...,150,5
247,Summer Squash Casserole,Cook squash and onion (in pot with just enough...,100,3
248,Skor Cake,Make cake according to directions on box and b...,120,1
249,Never Fail Pie Crust(Double Pie Crust),"Combine flour, sugar and salt.\n Put shortenin...",150,2

In [22]:
#import pymssql
cnxn = pymssql.connect(server='cis560team3.database.windows.net', user='SQLMan', password='BigB@dRecipeB00k', database='CIS560Project')
cursor = cnxn.cursor(as_dict=True)
for index, row in df.iterrows():
     #print(row)
     cursor.execute("INSERT INTO Data.Recipe (Name,CreatedUserID,PrepTime,Difficulty,Directions) values(%s,1,%d,%d,%s)", (row.title,row.PrepTime,row.Difficulty,row.directions))
cnxn.commit()
cursor.close()
cnxn.close()

# Load Measurement Units

In [16]:
cnxn = pymssql.connect(server='cis560team3.database.windows.net', user='SQLMan', password='BigB@dRecipeB00k', database='CIS560Project')
cursor = cnxn.cursor(as_dict=True)
df = pd.read_csv('./DataSets/MeasurementUnits.csv')
df = df.dropna()
for index, row in df.iterrows():
     #print(row)
     cursor.execute("INSERT INTO Data.MeasurementUnit (Name) values(%s)", (row.Unit))
     #print(row)
cnxn.commit()
cursor.close()
cnxn.close()

# Load Recipe Ingredients

In [17]:
#Used to parse ingredients to be input into RecipeIngredientDB
ingMeas = pd.read_csv('./DataSets/ConvertedRecipeIngredients.csv')
output = []

for x,i in ingMeas.iterrows():
    recipeID = i[0]
    quantity = i[1]
    unit = i[2]
    ingredient = i[3]
    output.append([recipeID,quantity,unit,ingredient])
    #print(recipeID,quantity,unit,ingredient)
df = pd.DataFrame(output)
#print(df)
cnxn = pymssql.connect(server='cis560team3.database.windows.net', user='SQLMan', password='BigB@dRecipeB00k', database='CIS560Project')
cursor = cnxn.cursor(as_dict=True)
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
    cursor.execute("EXECUTE Data.InsertRecipeIngredientWithID %d,%s,%s,%d", (row[0],row[3],row[2],row[1]))
cnxn.commit()
cursor.close()